head {
    margin: 20px;
    padding: 20px;
    background-color: blue
    ;
    text-align: center;
}
h1  {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 30px;
    text-align: center;
}
h4 {
    font-size: 30px;
    text-align: center;
}
img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}